allow platform_app per_mgr:unix_dgram_socket sendto;
allow platform_app qemu_hw_mainkeys_prop:file { read getattr open };
allow platform_app per_mgr:unix_dgram_socket sendto;
allow platform_app proc_vmstat:file { getattr open read };

allow platform_app debugfs_kgsl:dir search;
allow platform_app tee:unix_dgram_socket sendto;

dontaudit platform_app debugfs_kgsl:dir search;
dontaudit platform_app tee:unix_dgram_socket sendto;

