allow platform_app device:chr_file { ioctl };
allow platform_app mnt_media_rw_file:dir { getattr write add_name remove_name };
allow platform_app mnt_media_rw_file:file { read write open getattr rename unlink };
#allow platform_app mnt_media_rw_file:file { create };
