allow platform_app app_data_file:file { execute };
allow platform_app per_mgr:unix_dgram_socket sendto;
allow platform_app radio_data_file:dir getattr;
