allow priv_app device:dir { open read };
allow priv_app proc_interrupts:file { open read };
allow priv_app proc_modules:file { getattr open read };
allow priv_app per_mgr:unix_dgram_socket sendto;
allow priv_app proc_stat:file read;

allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };

