allow vold emulated_block_device:dir { getattr search };
allow vold system_crypt_file:file { read write open ioctl getattr setattr unlink link };
allow vold data_block_device:blk_file { open read };
allow vold qseecom_device:chr_file { read write };
allow vold firmware_file:file { read getattr };
