type wrild, domain;
type wrild_exec, exec_type, file_type;
init_daemon_domain(wrild)

allow wrild hal_configstore_default:file read;
allow wrild hal_graphics_allocator_default:file read;
allow wrild hal_health_default:file read;
allow wrild hal_light_default:file read;
allow wrild hal_power_default:file read;
allow wrild healthd:file read;
allow wrild hwservicemanager:dir { getattr search };
allow wrild hwservicemanager:file { open read };
allow wrild init:dir { getattr search };
allow wrild init:file { open read };
allow wrild init:unix_stream_socket connectto;
allow wrild kernel:dir { getattr search };
allow wrild kernel:file { open read };
allow wrild logd:dir { getattr search };
allow wrild logd:file { read open };
allow wrild netd:file read;
allow wrild property_socket:sock_file write;
allow wrild self:capability sys_ptrace;
allow wrild servicemanager:dir { getattr search };
allow wrild servicemanager:file { open read };
allow wrild shell_exec:file { getattr read };
allow wrild system_file:file { entrypoint execute_no_trans };
allow wrild tee:file read;
allow wrild toolbox_exec:file { execute execute_no_trans getattr open read };
allow wrild ueventd:dir { getattr search };
allow wrild ueventd:file { open read };
allow wrild vendor_init:dir { getattr search };
allow wrild vendor_init:file { read open };
allow wrild vndservicemanager:dir { getattr search };
allow wrild vndservicemanager:file { open read };
allow wrild vold:dir { getattr search };
allow wrild vold:file read;
allow wrild zygote:file read;
